<h1>FAQカテゴリー一覧</h1>
<div id="admin_list">
  <% if @admin_faq_categories %>
    <%= render "faq_category_list"%>
    <%= will_paginate @admin_faq_categories %>
  <% else %>
    表示できる管理者情報がありません
  <% end %>
</div>

<%= link_to '新規追加', new_admin_faq_category_path %>
