<h1>FAQ一覧</h1>
<br />
<%= link_to "FAQを追加する", :new_admin_faq %> |
<%= link_to 'FAQのカテゴリーを追加する', :new_admin_faq_category %>
<div id="faq_list">
  <% if @faq_list.length > 0 %>
    <%= render "faq_list"%>
    <%= will_paginate @faq_list %>
  <% else %>
    表示できるFAQがありません
  <% end %>
</div>
