<% @page_title = "パートナーページトップ" %>
<% if @current_administrator.blank? %>
  <%= render "shared/login_form" %>
<% else %>
  <h2>未処理お問い合わせ</h2>
  <ul>
    <%= render @contacts %>
  </ul>
<%= link_to "お問い合わせ一覧へ", :admin_contacts %>
<br />
<br />

  <h2>公開中のお知らせ</h2>
  <ul>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
  </ul>
お知らせ一覧へ
<% end %>
