<% @page_title = "パートナーページトップ" %>
<% if @current_administrator.blank? %>
  <%= render "shared/login_form" %>
<% else %>
  <h2>未処理お問い合わせ</h2>
  <ul>
    <li>ああああああああああああ</li>
    <li>ああああああああああああ</li>
    <li>ああああああああああああ</li>
    <li>ああああああああああああ</li>
  </ul>
お問い合わせ一覧へ
<br />
<br />

  <h2>お知らせ</h2>
  <ul>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
    <li>あああああああああああああ</li>
  </ul>
お知らせ一覧へ
<% end %>
