<div id="sub">
  <div class="section">
    <h3>カテゴリ</h3>
    <ul>
      <li>
        <a href="index.html">サブメニュー1</a>
      </li>
      <li>
        <a href="index.html">サブメニュー2</a>
      </li>
      <li>
        <a href="index.html">サブメニュー3</a>
      </li>
    </ul>
    <!-- /.section -->
  </div>
  <div class="section">
    <h3>カテゴリ</h3>
    <ul>
      <li>
        <a href="index.html">サブメニュー4</a>
      </li>
      <li>
        <a href="index.html">サブメニュー5</a>
      </li>
      <li>
        <a href="index.html">サブメニュー6</a>
      </li>
    </ul>
    <!-- /.section -->
  </div>
  <!-- /#sub -->
</div>
