<h2>開示対象個人情報について</h2>
<pre class="word_wrap">
1.個人情報取扱事業者の名称
    株式会社IC-NET

2.個人情報保護管理者
    ネットワーク事業部
    赤塚 誠二

3.開示対象個人情報

    開示対象個人情報について
    弊社が開示等の請求に応じることができる権限を有する個人情報について、下記の通り、公表いたし ます。

    (1) インターネット接続及びレンタルサーバ・ホスティング及び顧客情報
    ・ 基本情報(氏名、性別、生年月日、住所、電話番号、メールアドレス等)

    (2) リカバリー店舗での顧客情報
    ・ 基本情報(氏名、性別、生年月日、住所、電話番号、メールアドレス等)

    (3) 従業者
    ・ 基本情報(氏名、性別、生年月日、住所、電話番号、メールアドレス等) ・ 採用時提出情報(履歴書、職務経歴書等)
    ・ 給与関係情報
    ・ 健康診断結果

    (4) 採用応募者
    ・ 基本情報(氏名、性別、生年月日、住所、電話番号、メールアドレス等) ・ 採用時提出情報(履歴書、職務経歴書等)

4.個人情報の利用目的
    (1) インターネット接続及びレンタルサーバ・ホスティング及び顧客情報 ・ お客様に的確な情報提供を行う為
    ・ 必要に応じてお客様へ情報を連絡する為
    ・ 犯罪等による警察等からの個人情報の提供要請に対応する為

    (2) リカバリー店舗での顧客情報
    ・ 販売及び修理等に関するサービスの提供を行う為 ・ 必要に応じてお客様へ情報を連絡する為

    (3) 従業者
    ・ 従業者の基本情報として、通常業務及び連絡等に利用する為 ・ 配属、異動、報酬等の人事関連業務に利用する為
    ・ 給与支給及び社会保険・労働保険、福利厚生業務の為
    ・ 従業者の健康状態を把握する為

    (4) 採用応募者
    ・ 採用応募者の基本情報として、連絡等に利用する為 ・ 採用選考に利用する為

5.個人情報の開示・訂正・削除について ご提供いただいた個人情報の開示・訂正・追加又は削除・利用の拒否を希望される場合は、下記の手順にて承っておりますので連絡ください。

    (1) 開示等の求めの受付
    「PMS-K019 個人情報開示等請求書」にご記入のうえ、ご郵送いただくか、ご持参をお願いします。様式「PMS-K019 個人情報開示等請求書」は、送付いたします ので、連絡ください。
    【個人情報に関する相談・苦情及び開示等請求窓口】
    〒991-0031 山形県寒河江市本町2丁目8番3号 フローラ・SAGAE 3F 電話 0237-83-3133

    (2) 本人確認書類
    お客様相談室
    株式会社IC-NET
    PMS-K018 開示対象個人情報について 第1.0版
    本人確認のため、次の書類を(1)とともにご郵送いただくか、ご持参をお願いし ます。
    ・ 運転免許証、パスポート等の写真で本人確認ができるものの写し(開示等の 求めをする本人の名前および住所が記載されているもの)
    ・ 住民票の写し(開示等の求めをする日前30日以内に作成されたもの)

    (3) 代理人確認書類 代理人の方が手続きをされる場合は、(1)、(2)に加え次の書類もご郵送いただくか、ご持参をお願いします。
    ・ 代理を示す旨の委任状、戸籍謄本/抄本、住民票記載事項証明書等
    ・ 代理人が弁護士、司法書士,行政書士等その業務上委任を受けて代理人となる資格を有する者の場合は、資格の種類・登録番号のわかる書類
    ・ 代理人の運転免許証、パスポート等の写真で代理人確認ができるものの写し
    (開示等の求めをする代理人の名前および住所が記載されているもの)
    ・ 代理人の住民票の写し(開示等の求めをする日前30日以内に作成されたもの)

    (4) 手数料 開示の求めの場合のみ手数料として、1件につき1,000円をご負担いただきます。 現金書留,金融機関への振込み等により入金されたことを確認後,10営業日以内に,開示の求めの検討を行います。ただし,検討後、開示の求めに応じられない場合 には,入金された金額から送金時の手数料を差し引いた金額を20営業日以内に返却 いたします。

    (5) 対応の検討
    「PMS-K019 個人情報開示等請求書」により受け付け、本人確認、代理人確認ができたときは、当社内で検討します。
          次の場合は開示等の求めに応じられない場合があります。
    ・ 本人または第三者の生命、身体または財産に危害が及ぶおそれのある場合
    ・ 違法または不当な行為を助長し、または誘発するおそれのある場合
    ・ 国の安全が害されるおそれ、他国もしくは国際機関との信頼関係が損なわれるおそれ、または他国もしくは国際機関との交渉上不利益を被るおそれのある場合
    ・ 犯罪の予防、鎮圧、または捜査その他の公共の安全と秩序維持に支障が及ぶおそれのある場合
    ・ 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合 ・ 法令に違反することとなる場合
    ・ 国の機関または地方公共団体が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用目的を本人に通知し、または公表す ることによって当該事務の遂行に支障を及ぼすおそれがある場合

    (6) 検討結果連絡
    当社内で検討した結果は遅滞なく,選択した方法により連絡します。 連絡先は、「PMS-K019 個人情報開示等請求書」にご記入いただいた本人または代理人とします。

    (7) その他 本人または代理人を証明する書類に、本籍地が明示されている場合は、消去していただいて結構です。 本人または代理人を証明する書類は、当社が入手してから6か月以内に責任を持って廃棄いたします。
    「PMS-K019 個人情報開示等請求書」をお送りいただく前に、別紙の「個人情報の取扱いについて」をご確認いただき、同意の場合は所定の場所にお名前をご記入の うえでお送りください。

PMS-K018 開示対象個人情報について 第1.0版
</pre>
