<h2>個人情報保護方針</h2>
<pre class="word_wrap">
２０１２年7月1日　制定

個人情報保護方針

株式会社ＩＣ－ＮＥＴは、情報通信関連事業者としての製品及びサービスをお客様に提供しています。お客様からお預かりしている個人情報を保護することは、当社の事業活動の基本であり、重要な社会的責務であると認識しています。この理念を実践するため、個人情報保護方針を次の通り定め、全社的な取り組みとして必要かつ適正な安全管理措置を実践していきます。

当社は、個人情報を取得する際には、その利用目的を明確にし、利用目的の達成に必要な範囲内で取り扱います。個人情報の利用、提供を行う際も、事前に明らかにした目的の範囲内でのみ利用、提供いたします。また、利用目的の範囲を超える場合は、法令等に定めがある場合を除き、ご本人の同意を得ることとします。

当社は、「個人情報保護マネジメントシステムの要求事項（JIS Q 15001）」、個人情報の取扱いに関する法令、国が定める指針及びその他の規範を遵守し、個人情報の取扱いについて十分な注意を払います。

当社は、取得した個人情報を安全かつ正確に管理し、個人情報の漏洩、滅失又は棄損等を防止するための安全管理措置及び是正処置を講じます。

当社は、個人情報の取扱いに関するお問合せ（開示・訂正・利用停止等）、苦情及び相談を受けた場合、その内容について迅速に事実関係等を調査し、速やかに誠意をもって対応します。個人情報の取扱いに関するお問合せ、苦情及び相談は下記のお客様相談窓口にて承ります。

当社は、法令等の改正、社会環境の変化、情報技術及び事業内容の変化等に対して個人情報保護マネジメントシステムの見直しを行い、継続的に改善します。


お客様相談窓口
株式会社ＩＣ－ＮＥＴ　お客様相談室
フリーダイヤル：０１２０－４５－３１３３

株式会社ＩＣ－ＮＥＴ
代表取締役　　最上　修
</pre>
