/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/ui-lightness
 *
*/
@charset "UTF-8";

/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:12px;
   color:#333;
   background:#fff;
}

br {
   letter-spacing:normal;
}

a {
   color:#0089a1;
   text-decoration:none;
}

a:hover {
   color:#0089a1;
   text-decoration:underline;
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}


/* ========TEMPLATE LAYOUT======== */
#top {
   width:779px;
   margin:10px auto;
   border:1px solid #666;
}

#header {
   width:779px;
}

#menu {
   float:left;
}

#topicPath {
   float:left;
}

#contents {
   background:#fff;
}

#main {
   display:inline;/* for IE6 */
   float:left;
   width:539px;
   padding:10px;
   background:#fff;
}

#main_admin {
   display:inline;/* for IE6 */
   float:left;
   width:755px;
   padding:10px;
   background:#fff;
}

#sub {
   display:inline;/* for IE6 */
   float:right;
   width:200px;
   margin:10px;
   padding:0;
}

#pageTop {
   clear:both;
   background:#fff;
}

#footer {
   clear:both;
   background:#fff;
}


/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding:10px;
   font-size:24px;
}

#header h1 a {
   color:#333;
}

#header #pr p {
   margin:0;
   padding:10px;
   font-size:11px;
}


/* ========MENU CUSTOMIZE======== */
#menu ul {
   margin:0;
   padding:0;
}

#menu li {
   float:left;
   color:#333;
   text-align:center;
   list-style-type:none;
   border-left:1px solid #fff;
}

#menu li a {
   display:block;
   width:155px;
   color:#fff;
   line-height:40px;
   text-decoration:none;
   background:#0089a1;
}

#menu li:first-child {
   border-left:none;
}

#menu li a.active {
   color:#fff;
   text-decoration:none;
   background:#0F98AD;
}

#menu li a:hover {
   color:#fff;
   text-decoration:none;
   background:#0F98AD;
}


/* ========TOPICPATH CUSTOMIZE======== */
#topicPath {
   width:769px;
   padding:5px;
   background:#efefef;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main h2, #main_admin h2 {
   margin-bottom:5px;
   padding:5px 0;
   font-size:16px;
   border-bottom:3px double #999;
}

#main h3, #main_admin h3 {
   margin-bottom:5px;
   padding:5px;
   font-size:14px;
   border-left:5px solid #0089a1;
   border-bottom:1px dotted #999;
}

#main h4, #main_admin h4 {
   margin-bottom:5px;
   padding:5px;
   font-size:13px;
   color:#fff;
   background:#0089a1;
}

#main h5, #main_admin h5 {
   margin-bottom:5px;
   font-size:13px;
   border-bottom:1px dotted #999;
}

#main h6, #main_admin h6 {
   margin-bottom:5px;
   font-size:13px;
}

#main p, #main_admin p {
   margin:0 0 1em 0;
}

#main dt, #main_admin dt {
   margin-bottom:3px;
}

#main dd, #main_admin dd {
   padding:0;
   margin:0 0 0.5em 1em;
   padding:3px;
   background:#eee;
}

/* INFORMATION CUSTOMIZE */
* html body #main dl.information dd div {
   display:inline-block;
}

#main dl.information dt, #main_admin dl.information dt {
   float:left;
   width:8em;
   margin:0;
   padding:0;
}

#main dl.information dd, #main_admin dl.information dd {
   margin:0 0 0.5em 8em;
   padding:0;
   background:transparent;
}

#main table, #main_admin table {
   width:100%;
   border-collapse:collapse;
}

#main_admin table thead th {
   text-align:left;
}

#main table th, #main_admin table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
   background:#f0f7fc;
}

#main table td, #main_admin table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
}


/* ========SUBCONTENTS CUSTOMIZE======== */
#sub .section {
   margin-bottom:10px;
}

#sub h3 {
   padding:5px;
   font-size:13px;
   font-weight:bold;
   color:#fff;
   text-align:center;
   background:#0F98AD;
}

#sub ul {
   margin:0;
   padding:0;
   border:1px solid #aaa;
   border-top:none;
   background:#fff;
}

#sub li {
   width:198px;
   line-height:1.4;
   list-style:none;
   border-top:1px solid #aaa;
}

#sub li a {
   zoom:1;/* for IE6 */
   display:block;
   padding:10px 5px;
   border-left:5px solid #0089a1;
}


/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
   margin-top:10px;
   padding:5px;
   text-align:right;
}

#pageTop a {
   padding:5px 5px 5px 17px;
   background:url("../images/bg_pagetop.gif") 7px 50% no-repeat;
   font-size:11px;
   outline:none;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   clear:both;
   padding:10px 0;
   font-style:normal;
   font-size:11px;
   text-align:center;
   border-top:1px solid #ccc;
}

.word_wrap {
  word-wrap:break-word;
}


