
/* フラッシュ */
p.notice {
  border: 1px solid blue;
  padding: 3px;
  background-color: #ccf;
}
p.alert {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}

/* エラー表示 */
div#errors {
  background-color: #fee;
  border: 1px solid #ecc;
  padding: 3px 6px;
  margin: 0 0 1em;
  
  h2 {
    font-size: 90%;
    color: red;
    margin: 0 0 4px;
    border: none;
  }
  ul {
    margin: 0;
    padding-left: 1.5em;
  }
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

/* ページネーション */
div.pagination {
  font-size: 75%;
  padding: 4px 8px;
  border: 1px solid #499;
  word-spacing: 4px;
  
  em { font-style: normal; }
  em.current {
    color: #499;
    font-weight: bold;
  }
}
